section#form {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1.heading {
  margin-top: 100px;
  margin-bottom: 0;
}
p.desc {
  text-align: center;
  font-size: 20px;
  font-family: sans-serif;
  margin-bottom: 12px;
}
.forml {
  /* margin-top: 100px; */
  background-color: yellow;
  width: 60vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px 50px;
  font-size: 1.3rem;

  font-family: var(--mainfont);
}
input.value,
select,
textarea {
  display: block;
  height: 50px;
  font-size: 1.1rem;
  width: 80%;
  padding: 10px;
}

textarea {
  height: 150px;
}
input[type="submit"] {
  margin: 10px 0;
  background-color: tomato;
}
button.bt {
  height: 50px;
  width: 80%;
}
