@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Roboto:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
:root {
  --mainfont: "Baloo Bhai 2", cursive;
}
body {
  overflow-x: hidden;
  width: 100vw;
  background: rgb(87, 77, 255);
  background: linear-gradient(
    90deg,
    rgba(87, 77, 255, 1) 0%,
    rgba(231, 252, 255, 1) 100%
  );
}
.btn-hover:hover {
  transition: all 150ms linear;
  background-color: transparent !important;
  cursor: pointer;
}
/* NavBar Styling */
section.navbar {
  display: flex;
  gap: 20px;
  height: 100px;
  background-color: rgb(242, 239, 235);
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: fixed;
  z-index: 10000;
  top: 0;
  width: 100%;
}
div.logo {
  padding-bottom: 15px;
}

div.logo img {
  width: 150px;
  height: 150px;
}
.nav-bar {
  width: 515px;
}
ul.list {
  display: flex;
  margin: 15px;
}
ul.list li {
  list-style: none;
  transition: 200ms;
}
ul.list li a {
  color: black;
  text-decoration: none;
  margin: 2px 20px;
  font-family: var(--mainfont);
  font-size: 20px;
  font-weight: bold;
}
/* FOR HAMBURGER BUTTON */
div.hamburgerButton {
  display: flex;
  position: fixed;
  z-index: 990000;
  flex-direction: column;
  height: 37px;
  top: 17px;
  left: 18px;
  justify-content: space-around;
  cursor: pointer;
}
div.hamburgerButton span.line {
  width: 41px;
  height: 3px;
  border-radius: 12px;
  display: none;
  background-color: black;
}
ul.list li {
  border-radius: 22px;
}
ul.list li {
  border-radius: 22px;
}
/* navbar items style on hover state */
ul.list li:hover {
  background-color: rgb(0, 0, 0) !important;
  border-radius: 22px;
  transition: 100ms;
  transform: scale(1.1);
}
ul.list li:hover a {
  color: wheat !important;
}
/* Search box */

#searchBox {
  background-color: rgb(255, 255, 255);
  border-radius: 21px;
  padding: 12px;
  font-size: 16px;
  height: 46px;

  max-width: 250px;
  /* min-width: 100px; */
}
.searchBox {
  padding-bottom: 8px;
}
#searchButton {
  width: 50px;
  border-radius: 50px;
  margin-left: 9px;
  height: 46px;
  background-color: limegreen;
  font-size: 20px;
  font-weight: bold;
}
/* image slider styling */
#landing-page {
  position: relative;
  overflow: hidden;
  margin-top: 100px;
}
div.imageslider {
  width: 100%;
  height: 86vh;
  background: #000;
}
div.imageslider img {
  width: 100%;
  height: 100%;
}
span.btn {
  color: rgb(0, 0, 0);
  font-size: 3rem;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background: rgba(238, 255, 1, 0.8);
  position: absolute;
  top: 45%;
  z-index: 100;
  transition: 300ms;
}

#b1 {
  right: -50px;
}
#b2 {
  left: -50px;
}
.imageslider img {
  opacity: 0.65;
}
/* Destination Menu Styling */
.mainDes {
  position: absolute;
  top: 60%;
  right: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0px;
  height: 50px;
  width: 98%;
}
.mainDes label {
  display: inline-block;
  position: relative;
  top: -45px;
  left: 106px;
  font-size: 2rem;
  color: rgb(187, 255, 0);
  text-shadow: 2px 2px 0px rgb(255, 0, 0), -2px -2px 0 rgb(255, 0, 0);
  font-family: var(--mainfont);
  font-weight: 900;
  letter-spacing: 1px;
}
select.selectMenu {
  margin-left: -90px;
  width: 250px;
  height: 50px;
  border-radius: 40px;
  padding: 0 10px;
  font-size: 1.3rem;
  background-color: rgba(255, 255, 255, 0.8);
}
button.DestinationButton {
  width: 150px;
  font-family: var(--mainfont);
  height: 50px;
  border: 2px solid black;
  border-radius: 40px;
  margin-left: 40px;
  margin-bottom: 18px;
  background: rgb(0, 255, 55);
  font-weight: 600; /* outline: 0; */
  font-weight: bold;
  font-size: larger;
}
.DestinationButton:hover {
  color: yellow;
  border: 2px solid white;
  transform: rotateX(360deg);
}
/* Page slogan  */
div.pageintro {
  color: aliceblue;
  height: auto;
  width: 100vw;
  position: absolute;

  display: flex;
  flex-direction: column;
  top: 0;

  justify-content: center;
  align-items: center;
}
.pageintro > .heading h1 {
  font-family: "Monoton", cursive;
  font-size: 4.5em;
  height: 90px;
  text-transform: uppercase;
  color: rgb(255, 0, 0);
  animation: change 25s infinite;
  letter-spacing: 2px;
  word-spacing: 4px;
}
@keyframes change {
  from {
    filter: hue-rotate(0);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
.pageintro span {
  font-size: 1.4rem;
  font-weight: bold;
  font-family: "Red Hat Mono", monospace;
  color: red;
  animation: change 25s infinite;
}
/* adventure places recommendations */
#tourSitesAdventure {
  justify-content: center;
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 3em;
}
h1.heading {
  font-family: var(--mainfont);
  margin: 30px 0;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
}
/* General homepage tourist site styling */
.visitPlaces {
  background-image: url(./images/bgpattern.png);
  background-size: cover;
  background-position: center left;
  background-repeat: no-repeat;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  text-align: center;
  border-radius: 23px;
  overflow: hidden;
  padding: 12px;
  box-shadow: 10px 10px 15px 0 grey;
}
.visitPlaces .img {
  width: 100%;
  height: 200px;
  border-radius: inherit;
}
.visitPlaces img {
  width: 100%;
  height: 200px;
  border-radius: inherit;
  transition: transform 1s ease-in-out;
}
.imgbox {
  overflow: hidden;
  border-radius: inherit;
}
.visitPlaces:hover img {
  transform: scale(2);
  transform-origin: center;
}
img.topscale {
  transform-origin: top !important;
}
img.leftscale {
  transform-origin: left !important;
}
img.rightscale {
  transform-origin: right !important;
}
img.leftscale {
  transform-origin: left !important;
}
.visitPlaces h2 {
  font-family: var(--mainfont);
}
.visitPlaces h2:hover {
  text-decoration: underline;
}
.visitPlaces p {
  opacity: 0.9;
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: 10px;
}
.visitPlaces a {
  text-decoration: none;
}
.visitPlaces span {
  display: inline-block;
  color: black;
  background: rgb(204, 255, 19);
  border: 1px solid black;
  border-radius: 21px;
  width: 110px;
  height: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  margin-bottom: 5px;
  margin-right: 12px;
  padding: 10px;
  transition: 190ms;
}
.visitPlaces span:hover {
  background-color: rgb(15, 14, 14);
  color: white;
}

/* Cultural sites styling */
#tourSitesCulture,
#touristSiteInternational,
#tourSiteHoliday,
#toursitesluxury {
  justify-content: center;
  padding: 10px 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 3em;
}
/* For different background dor different sections */
#tourSitesCulture > div {
  background-image: url(./images/gradientbg1.jpg);
}
#touristSiteInternational > div {
  background-image: linear-gradient(180deg, rgb(255, 6, 6), rgb(78, 89, 189));
}
#tourSiteHoliday > div {
  background-image: url(./images/gradientbg3.jpg);
}
/* Footer styling */
footer {
  margin-top: 2.8rem;
  overflow-x: hidden;
}

.copyright {
  font-size: 1.4rem;
  font-family: roboto;
  text-align: center;
  background-color: rgb(0, 34, 76);
  color: white;
}
.contactFooter {
  height: 200px;
  width: 100%;
  margin-top: -12px;
  display: flex;
  justify-content: space-around;
  background-color: rgb(0, 34, 76);
}
.contactFooter div u {
  color: white;
}
.contactFooter div {
  font-size: 1.8rem;
  font-weight: 800;
  font-family: var(--mainfont);
  color: rgb(238, 229, 229);
}
i {
  margin: 3px;
}
footer i,
.contactFooter div {
  color: yellow;
}
